@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    padding: 0;
    margin: 0;
    --dark-blue: #154C79;
    --light-blue: #2184CE;
    --light-grey: #f5f5f5;
    --bg-color: #363739;
    --white: #ffffff;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Inter';
    background-color: var(--bg-color);
    overflow-x: hidden;
}

.app-container{
    width: 100vw;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

h1, h2, h3, p, h5,ul {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cv-container {
    width: 38rem;
    min-height: 49rem;
    background-color: #ffffff;
}

.cv-header {
    display: flex;
    margin-bottom: 0.5rem;
}

.summary {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}

.summary > h2{
    color: var(--dark-blue);
    border-bottom: 0.2rem solid var(--dark-blue);
}

.summary > p {
    font-size: 0.813rem;
}

textarea {
    resize: none;
    width: 22rem;
    height: 6rem;
}

.personal-details{
    background-color: var(--dark-blue);
    padding: 0 0.5rem;
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    color: var(--white);
}


.contact-info{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.contact-info > span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info > span > p {
    font-size: 0.813rem;
}

.cv-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 0.25rem;
    grid-column-gap: 0.25rem;
}

.experience-header, .education-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.25rem;
    border-bottom: 0.2rem solid var(--dark-blue);
    margin-bottom: 0.25rem;
}

.experience-header > h2, .education-header > h2 {
    color: var(--dark-blue);
}

.experience-header > svg, .ec-header > svg, .education-header > svg {
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    cursor: pointer;
}

.experience-component {
    padding: 0.5rem 0.25rem;
    background-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ec-header > svg, .educomp-header > svg {
    width: 1.25rem;
    height: 1.25rem;
}

.experience-header > svg > path, .ec-header > svg > path, .ec-location > svg > path, .ec-period > svg > path,
.education-header > svg > path, .educomp-institute > svg > path, .educomp-period > svg > path {
    fill: var(--dark-blue);
}

.ec-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--dark-blue);
}

.ec-location-period, .ec-location, .ec-period {
    display: flex;
    align-items: center;
}

.ec-location-period {
    gap: 1rem;
}

.ec-location, .ec-period {
    color: var(--light-blue);
    gap: 0.5rem;
}

.ec-period > div {
    display: flex;
    gap: 0.125rem;
}

.ec-description {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
}

.ec-description > p {
    font-size: 0.813rem;
}

textarea#description {
    width: 18rem;
}

.responsibilities > span {
    display: flex;
    align-items: center;
    gap: 0.375rem;
    color: var(--light-blue);
    font-size: 1.125rem;
}

.responsibilities > ul > li{
    color:var(--dark-blue);
    font-size: 0.813rem;
}

.resp {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: black;
}

.resp >svg > path {
    fill: var(--dark-blue);
}

.responsibilities > span > svg, .resp > svg, .educomp-header > svg {
    cursor: pointer;
}

.education-component{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--light-grey);
    padding: 0.5rem 0.25rem;
}

.educomp-header, .educomp-institute, .educomp-period, .educomp-period > span {
    display: flex;
    align-items: center;
    gap:0.25rem;
}

.educomp-header {
    color: var(--dark-blue);
    justify-content: space-between;
}

.educomp-institute, .educomp-period{
    color: var(--light-blue);
}






